In [1]:
import pandas as pd
import numpy as np
import requests
import datetime
import pprint
from libs.us_state_abbrev import us_state_abbrev, us_fips

In [3]:
from libs.build_dod_dataset import get_projections_df

In [4]:
days_out = '2020-04-19 23:45:44.863057'

In [5]:
import datetime

In [6]:
today = datetime.datetime.now()
do = today + datetime.timedelta(days=16)

In [8]:
from libs.build_dod_dataset import get_hospitals_and_shortfalls, read_json_as_df, all_cols, get_county_projections

In [173]:
%%timeit 
get_projections_df()

1.35 s ± 110 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [287]:
%%timeit
get_projections_df()

562 ms ± 10.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [186]:
%%timeit 
get_projections_df()

20.5 ms ± 385 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [128]:
%%timeit 
get_projections_df()

722 ms ± 13.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [129]:
%%timeit 
get_projections_df()

624 ms ± 28.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [94]:
%%timeit
l = read_json_as_df('results/test/AL.0.json')

5.92 ms ± 157 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [96]:
df = read_json_as_df('results/test/AL.0.json')
df

ValueError: Length mismatch: Expected axis has 3740 elements, new values have 20 elements

In [133]:
%%timeit
get_county_projections()

Did not match 46 codes to county data.
['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
Did not match 46 codes to county data.
['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
Did not match 46 codes to county data.
['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
Did not match 46 codes to county data.
['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
Did not match 46 codes to county data.
['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
Did not match 46 codes to county data.
['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
Did not match 46 codes to county data.
['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
Did not match 46 codes to county data.
['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
26.6 s ± 306 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [163]:
get_county_projections().head()

results/county/NY.36001.0.json
results/county/NY.36003.0.json
results/county/NY.36007.0.json
results/county/NY.36009.0.json
results/county/NY.36011.0.json
results/county/NY.36013.0.json
results/county/NY.36015.0.json
results/county/NY.36017.0.json
results/county/NY.36019.0.json
results/county/NY.36021.0.json
results/county/NY.36023.0.json
results/county/NY.36025.0.json
results/county/NY.36027.0.json
results/county/NY.36029.0.json
results/county/NY.36031.0.json
results/county/NY.36033.0.json
results/county/NY.36035.0.json
results/county/NY.36037.0.json
results/county/NY.36043.0.json
results/county/NY.36045.0.json
results/county/NY.36049.0.json
results/county/NY.36051.0.json
results/county/NY.36053.0.json
results/county/NY.36055.0.json
results/county/NY.36057.0.json
results/county/NY.36059.0.json
results/county/NY.36061.0.json
results/county/NY.36063.0.json
results/county/NY.36065.0.json
results/county/NY.36067.0.json
results/county/NY.36069.0.json
results/county/NY.36071.0.json
results/county/NY.36073.0.json
results/county/NY.36075.0.json
results/county/NY.36077.0.json
results/county/NY.36079.0.json
results/county/NY.36083.0.json
results/county/NY.36087.0.json
results/county/NY.36089.0.json
results/county/NY.36091.0.json
results/county/NY.36093.0.json
results/county/NY.36095.0.json
results/county/NY.36097.0.json
results/county/NY.36101.0.json
results/county/NY.36103.0.json
results/county/NY.36105.0.json
results/county/NY.36109.0.json
results/county/NY.36111.0.json
results/county/NY.36113.0.json
results/county/NY.36117.0.json
results/county/NY.36119.0.json
results/county/NY.36121.0.json
results/county/NY.36123.0.json
Models missing for 3219 states

,State,FIPS,16-day_Hospitalization_Prediction,32-day_Hospitalization_Prediction,16-day_Beds_Shortfall,32-day_Beds_Shortfall,Mean Hospitalizations,Mean Deaths,Peak Hospitalizations On,Mean Deaths On
0,NY,36001,-26,16,0,0,-12.0,-3.230769,2020-06-22,2020-06-22
1,NY,36003,92,-55,35,0,24.0,-1.038462,2020-06-10,2020-06-02
2,NY,36007,105,93,0,0,22.0,-1.730769,2020-04-23,2020-06-18
3,NY,36009,71,-119,112,0,2.0,1.000000,2020-06-02,2020-05-25
4,NY,36011,35,102,0,21,3.0,0.923077,2020-05-09,2020-05-17

In [154]:
url = '/Users/fridiculous/projects/covidactnow/covid-data-model/libs/datasets/sources/fips_population.csv'
d = pd.read_csv(url)
d[['state', 'county', 'fips', 'population']].to_csv(url, index=False)

In [159]:
pd.read_csv('fips_pd.csv')

     state          county   fips  population aggregate_level country
0       AL  Autauga County   1001     55869.0          county     USA
1       AL  Baldwin County   1003    223234.0          county     USA
2       AL  Barbour County   1005     24686.0          county     USA
3       AL     Bibb County   1007     22394.0          county     USA
4       AL   Blount County   1009     57826.0          county     USA
...    ...             ...    ...         ...             ...     ...
3267    WA         Unknown  99999         NaN          county     USA
3268    WV         Unknown  99999         NaN          county     USA
3269    WI         Unknown  99999         NaN          county     USA
3270    WY         Unknown  99999         NaN          county     USA
3271    PR         Unknown  99999         NaN          county     USA

[3272 rows x 6 columns]

In [162]:
pd.read_csv('deleteme.csv').head()

,State,FIPS,16-day_Hospitalization_Prediction,32-day_Hospitalization_Prediction,16-day_Beds_Shortfall,32-day_Beds_Shortfall,Mean Hospitalizations,Mean Deaths,Peak Hospitalizations On,Mean Deaths On
0,NY,36001,-26,16,0,0,-12.0,-3.230769,2020-06-22,2020-06-22
1,NY,36003,92,-55,35,0,24.0,-1.038462,2020-06-10,2020-06-02
2,NY,36007,105,93,0,0,22.0,-1.730769,2020-04-23,2020-06-18
3,NY,36009,71,-119,112,0,2.0,1.000000,2020-06-02,2020-05-25
4,NY,36011,35,102,0,21,3.0,0.923077,2020-05-09,2020-05-17

In [172]:
def test_func(path):
    results = []
    df = read_json_as_df(path)
    df['short_fall'] = df.apply(calc_short_fall, axis=1)

    hosp_16_days, short_fall_16_days = get_hospitals_and_shortfalls(df, sixteen_days)
    hosp_32_days, short_fall_32_days = get_hospitals_and_shortfalls(df, thirty_two_days)

    df['new_deaths'] = df.dead - df.dead.shift(1)

    mean_hospitalizations = df.all_hospitalized.mean().round(0)
    mean_deaths = df.new_deaths.mean()

    peak_hospitalizations_date = df.iloc[df.all_hospitalized.idxmax()].date
    peak_deaths_date = df.iloc[df.dead.idxmax()].date

    results.append([hosp_16_days, hosp_32_days, short_fall_16_days, short_fall_32_days,
            mean_hospitalizations, mean_deaths, peak_hospitalizations_date, peak_deaths_date])
    return results

In [197]:
!cat results/county/NY.36061.0.json

[[0, "3/22/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2397.75, 32845.890410958906, "63", "3752", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [4, "3/26/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5398.0, 73945.20547945207, "281", "4561", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [8, "3/30/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9165.75, 125558.2191780822, "790", "5544", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [12, "4/3/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 13893.75, 190325.34246575343, "1584", "6739", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [16, "4/7/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "19423", "371364", "2716", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [20, "4/11/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "26481", "483452", "4098", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [24, "4/15/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "32172", "482202", "5871", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [28, "4/19/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "33266", "392147", "8059", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [32, "4/23/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "30000", "279174", "10510", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [36, "4/27/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "24446", "183383", "12983", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [40, "5/1/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "18530", "114894", "15262", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [44, "5/5/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "13338", "70033", "17214", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [48, "5/9/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "9248", "42021", "18792", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [52, "5/13/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "6239", "24990", "20010", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [56, "5/17/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "4123", "14791", "20918", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [60, "5/21/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "2683", "8733", "21574", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [64, "5/25/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "1725", "5151", "22038", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [68, "5/29/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "1098", "3037", "22359", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [72, "6/2/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "694", "1792", "22577", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [76, "6/6/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "436", "1057", "22724", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [80, "6/10/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "272", "625", "22822", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [84, "6/14/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "169", "369", "22886", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [88, "6/18/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "105", "218", "22928", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [92, "6/22/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "65", "129", "22955", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [96, "6/26/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "40", "76", "22972", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [100, "6/30/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "24", "45", "22984", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0], [104, "7/4/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, "15", "27", "22991", "7768", 0.0, 0.0, 0.0, 0.0, "1628706", 0.0, 0.0]]

In [217]:
df = read_json_as_df('results/county/NY.36061.0.json')

TypeError: from_records() got an unexpected keyword argument 'dtype'

In [203]:
from libs.build_dod_dataset import get_usa_by_county_df

In [204]:
get_usa_by_county_df()

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Recovered,Deaths,Active,County,State/County FIPS Code,Combined Key
OBJECTID,,,,,,,,,,,,
0,South Carolina,US,4/2/2020 23:25,34.2233,-82.4617,6,0,0,0,Abbeville,45001,"Abbeville, South Carolina, US"
1,Louisiana,US,4/2/2020 23:25,30.2951,-92.4142,61,0,1,0,Acadia,22001,"Acadia, Louisiana, US"
2,Virginia,US,4/2/2020 23:25,37.7671,-75.6323,10,0,0,0,Accomack,51001,"Accomack, Virginia, US"
3,Idaho,US,4/2/2020 23:25,43.4527,-116.242,312,0,3,0,Ada,16001,"Ada, Idaho, US"
4,Iowa,US,4/2/2020 23:25,41.3308,-94.4711,1,0,0,0,Adair,19001,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2357,Northern Mariana Islands,US,4/2/2020 23:25,15.0979,145.674,6,0,1,0,<Null>,<Null>,",Northern Mariana Islands,US"
2363,Puerto Rico,US,4/2/2020 23:25,18.2208,-66.5901,316,0,12,0,<Null>,00072,"Puerto Rico, US"
2368,Recovered,US,4/2/2020 23:25,<Null>,<Null>,0,9001,0,0,<Null>,<Null>,"Recovered, US"
2385,Virgin Islands,US,4/2/2020 23:25,18.3358,-64.8963,30,0,0,0,<Null>,00078,",Virgin Islands,US"
2568,Wyoming,US,4/2/2020 23:25,<Null>,<Null>,0,0,0,0,unassigned,<Null>,"unassigned, Wyoming, US"

In [200]:
df = pd.read_csv('deleteme.csv')

In [218]:
from libs.build_dod_dataset import  get_usa_by_county_with_projection_df

In [219]:
get_usa_by_county_with_projection_df()

Models missing for 1523 county

,32d-LACKBEDS,Latitude,Current Confirmed,32d-HSPTLZD,County,MEAN-DEATHS,Country/Region,Current Deaths,16d-HSPTLZD,Province/State,...,16d-LACKBEDS,Longitude,Combined Key,Last Update,Current Active,State/County FIPS Code,MEAN-HOSP,State Intervention,Current Recovered,PEAK-DEATHS
OBJECTID,,,,,,,,,,,,,,,,,,,,,
0,342,34.223334,6,362,Abbeville,9.884615,US,0,41,South Carolina,...,21,-82.461707,"Abbeville, South Carolina, US",4/3/2020 22:46,0,45001,113.0,social_distancing,0,2020-05-21
1,1778,33.543380,22,1992,Aiken,68.576923,US,1,153,South Carolina,...,0,-81.636454,"Aiken, South Carolina, US",4/3/2020 22:46,0,45003,792.0,social_distancing,0,2020-05-25
2,83,32.988374,1,103,Allendale,3.461538,US,0,8,South Carolina,...,0,-81.353211,"Allendale, South Carolina, US",4/3/2020 22:46,0,45005,40.0,social_distancing,0,2020-05-26
3,2488,34.518281,62,3144,Anderson,82.038462,US,3,410,South Carolina,...,0,-82.639595,"Anderson, South Carolina, US",4/3/2020 22:46,0,45007,941.0,social_distancing,0,2020-05-21
4,3006,32.392263,131,3269,Beaufort,78.269231,US,2,807,South Carolina,...,544,-80.726198,"Beaufort, South Carolina, US",4/3/2020 22:46,0,45013,896.0,social_distancing,0,2020-05-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722,3505,38.661438,117,3924,Sussex,95.192308,US,3,751,Delaware,...,332,-75.390313,"Sussex, Delaware, US",4/3/2020 22:46,0,10005,1091.0,shelter_in_place,0,2020-05-17
1723,2355,41.671063,59,2652,Kent,66.538462,US,0,402,Rhode Island,...,105,-71.576416,"Kent, Rhode Island, US",4/3/2020 22:46,0,44003,764.0,shelter_in_place,0,2020-05-21
1724,1241,41.564203,33,1347,Newport,33.269231,US,0,222,Rhode Island,...,116,-71.265698,"Newport, Rhode Island, US",4/3/2020 22:46,0,44005,382.0,shelter_in_place,0,2020-05-21
1725,8040,41.870647,418,10868,Providence,260.230769,US,3,2616,Rhode Island,...,0,-71.577535,"Providence, Rhode Island, US",4/3/2020 22:46,0,44007,2980.0,shelter_in_place,0,2020-05-17
1726,1731,41.459616,34,1917,Washington,50.730769,US,0,237,Rhode Island,...,51,-71.614353,"Washington, Rhode Island, US",4/3/2020 22:46,0,44009,583.0,shelter_in_place,0,2020-05-21

In [ ]:
pd.read_csv('my_fips.csv')

In [213]:
df[df.FIPS == 36061]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
1490,36061.0,New York City,New York,US,2020-04-02 23:25:27,40.767273,-73.971526,51809,1397,0,0,"New York City, New York, US"

In [202]:
%env COVID_DATA_PUBLIC=../covid-data-public

env: COVID_DATA_PUBLIC=../covid-data-public

In [190]:
from libs.build_dod_dataset import calc_short_fall
today = datetime.datetime.now()
sixteen_days = today + datetime.timedelta(days=16)
thirty_two_days = today + datetime.timedelta(days=32)

In [194]:
test_func('results/county/NY.36009.0.json')

[[64,
  866,
  0,
  651,
  352.0,
  30.5,
  Timestamp('2020-05-17 00:00:00'),
  Timestamp('2020-07-04 00:00:00')]]

In [29]:
%%timeit
pd.DataFrame(l for l in simplejson.load(open('results/test/AL.0.json','r')))

1.53 ms ± 42.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [365]:
%%timeit
l = simplejson.load(open('results/test/AL.0.json','r'))

109 µs ± 1.93 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [366]:
%%timeit
l = pd.read_json(open('results/test/AL.0.json','r'))

10.6 ms ± 336 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [17]:
%%timeit
l = pd.read_table('results/test/AL.0.json')
l

1.35 ms ± 59.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [37]:
l = simplejson.load(open('results/test/AL.0.json','r'))

In [39]:
%%timeit
pd.DataFrame(l)

1.39 ms ± 69.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [40]:
pd.DataFrame(l)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,3/13/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.25,17.1233,0,6080,0.0,0.0,0.0,0.0,4903185,0.0,0.0
1,4,3/17/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.75,133.562,0,7390,0.0,0.0,0.0,0.0,4903185,0.0,0.0
2,8,3/21/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.75,448.63,0,8982,0.0,0.0,0.0,0.0,4903185,0.0,0.0
3,12,3/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95,1301.37,1,10918,0.0,0.0,0.0,0.0,4903185,0.0,0.0
4,16,3/29/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,196.5,2691.78,10,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
5,20,4/2/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,279.5,3828.77,32,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
6,24,4/6/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,446,10149,56,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
7,28,4/10/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,831,22881,87,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
8,32,4/14/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1777,51393,139,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
9,36,4/18/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3915,113518,241,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
10,40,4/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8505,241284,459,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
11,44,4/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17602,474287,928,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
12,48,4/30/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33161,810678,1896,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
13,52,5/4/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53944,1129045,3738,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
14,56,5/8/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73143,1246341,6829,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
15,60,5/12/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82803,1120806,11300,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
16,64,5/16/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80597,867589,16870,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
17,68,5/20/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69938,608577,22956,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
18,72,5/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55806,401404,28929,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
19,76,5/28/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41906,254975,34315,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
20,80,6/1/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30107,158316,38858,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
21,84,6/5/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20935,96965,42497,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
22,88,6/9/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14207,58908,45292,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
23,92,6/13/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9463,35617,47370,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
24,96,6/17/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6213,21475,48873,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
25,100,6/21/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4034,12929,49937,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
26,104,6/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2596,7777,50677,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
27,108,6/29/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1658,4677,51183,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
28,112,7/3/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1053,2813,51525,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0

In [105]:
%%timeit
l = pd.DataFrame.from_records(simplejson.load(open('results/test/AL.0.json','r')))
l

1.56 ms ± 16.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [127]:
%%timeit
l = read_json_as_df('results/test/AL.0.json')
l

5.9 ms ± 150 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [125]:
%%timeit
l = pd.DataFrame.from_records(simplejson.load(open('results/test/AL.0.json','r')),
columns=all_cols,nrows=10, exclude=exclude_cols )
l

1.71 ms ± 35.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [122]:
all_cols = [
    "day_num",
    # ^ for index column
    "date",
    "a",
    "b",
    "c",
    "d",
    "e",
    "f",
    "g",
    "all_hospitalized",
    "all_infected",
    "dead",
    "beds",
    "i",
    "j",
    "k",
    "l",
    "population",
    "m",
    "n",
]

In [114]:
# all_cols = {
#     "day_num": pd.Int8Dtype,
#     # ^ for index column
#     "date": pd.DatetimeTZDtype,
#     "a": pd.Int8Dtype,
#     "b": pd.Int8Dtype,
#     "c": pd.Int8Dtype,
#     "d": pd.Int8Dtype,
#     "e": pd.Int8Dtype,
#     "f": pd.Int8Dtype,
#     "g": pd.Int8Dtype,
#     "all_hospitalized": pd.Int8Dtype,
#     "all_infected": pd.Int8Dtype,
#     "dead": pd.Int8Dtype,
#     "beds": pd.Int8Dtype,
#     "i": pd.Int8Dtype,
#     "j": pd.Int8Dtype,
#     "k": pd.Int8Dtype,
#     "l": pd.Int8Dtype,
#     "population": pd.Int8Dtype,
#     "m": pd.Int8Dtype,
#     "n": pd.Int8Dtype,
# }

In [ ]:
l = pd.DataFrame(simplejson.load(open('results/test/AL.0.json','r')))
l

In [110]:
%%timeit
l = pd.DataFrame(simplejson.load(open('results/test/AL.0.json','r')),
columns=all_cols.keys(), convert_dtypes=all_cols )
l

1.75 ms ± 54 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [103]:
l = pd.DataFrame(simplejson.load(open('results/test/AL.0.json','r')))
l

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,3/13/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.25,17.1233,0,6080,0.0,0.0,0.0,0.0,4903185,0.0,0.0
1,4,3/17/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.75,133.562,0,7390,0.0,0.0,0.0,0.0,4903185,0.0,0.0
2,8,3/21/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.75,448.63,0,8982,0.0,0.0,0.0,0.0,4903185,0.0,0.0
3,12,3/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95,1301.37,1,10918,0.0,0.0,0.0,0.0,4903185,0.0,0.0
4,16,3/29/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,196.5,2691.78,10,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
5,20,4/2/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,279.5,3828.77,32,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
6,24,4/6/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,446,10149,56,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
7,28,4/10/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,831,22881,87,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
8,32,4/14/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1777,51393,139,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
9,36,4/18/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3915,113518,241,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
10,40,4/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8505,241284,459,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
11,44,4/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17602,474287,928,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
12,48,4/30/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33161,810678,1896,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
13,52,5/4/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53944,1129045,3738,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
14,56,5/8/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73143,1246341,6829,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
15,60,5/12/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82803,1120806,11300,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
16,64,5/16/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80597,867589,16870,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
17,68,5/20/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69938,608577,22956,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
18,72,5/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55806,401404,28929,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
19,76,5/28/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41906,254975,34315,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
20,80,6/1/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30107,158316,38858,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
21,84,6/5/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20935,96965,42497,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
22,88,6/9/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14207,58908,45292,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
23,92,6/13/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9463,35617,47370,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
24,96,6/17/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6213,21475,48873,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
25,100,6/21/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4034,12929,49937,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
26,104,6/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2596,7777,50677,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
27,108,6/29/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1658,4677,51183,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0
28,112,7/3/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1053,2813,51525,12585,0.0,0.0,0.0,0.0,4903185,0.0,0.0

In [102]:
l = pd.DataFrame(l for l in open('results/test/AL.0.json','r'))
l

                                                   0
0  [[0, "3/13/20", 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

In [372]:
%%timeit
l = pd.concat(simplejson.load(l) for l in open('results/test/AL.0.json','r'))

AttributeError: 'str' object has no attribute 'read'

In [352]:
%%timeit
l = read_json_as_df('results/test/AL.0.json')
l.dtypes

5.64 ms ± 323 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [349]:
%%timeit
get_county_projections()

WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
31.8 s ± 1.14 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [326]:
do

datetime.datetime(2020, 4, 20, 0, 3, 11, 5573)

In [343]:
ddf = pd.read_csv('deleteme.csv')#, index_col=True)
ddf['date'] = pd.to_datetime(ddf.date)
ddf['all_hospitalized'] = ddf['all_hospitalized'].astype('int8')
ddf['beds'] = ddf['beds'].astype('int8')
ddf['short_fall'] = ddf.apply(calc_short_fall, axis=1)

In [344]:
get_hospitals_and_shortfalls(ddf, do)

['all_hospitalized', 'short_fall']
all_hospitalized    53
short_fall           0
Name: 8, dtype: object

(53, 0)

In [347]:
get_county_projections()

WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states

,State,FIPS,16-day_Hospitalization_Prediction,32-day_Hospitalization_Prediction,16-day_Beds_Shortfall,32-day_Beds_Shortfall,Mean Hospitalizations,Mean Deaths,Peak Hospitalizations On,Mean Deaths On
0,AK,02020,53,85,0,0,11.0,-1.730769,2,1
1,AK,02090,65,91,0,0,14.0,-0.076923,2,1
2,AK,02110,82,8,22,0,6.0,3.076923,2,1
3,AK,02122,47,-117,0,0,7.0,3.961538,2,1
4,AK,02130,92,-27,72,0,8.0,-4.192308,2,1
...,...,...,...,...,...,...,...,...,...,...
1922,WY,56033,82,-13,10,0,9.0,2.461538,2,1
1923,WY,56037,26,-104,0,0,6.0,-2.807692,2,1
1924,WY,56039,-76,122,0,83,15.0,-0.230769,2,1
1925,WY,56041,5,113,0,27,17.0,-1.769231,2,1
1926,WY,56043,8,97,0,83,26.0,3.115385,2,1

In [332]:
df.iloc[df.dead.idxmax()]

day_num                             112
date                2020-07-03 00:00:00
a                                     0
b                                     0
c                                     0
d                                     0
e                                     0
f                                     0
g                                     0
all_hospitalized                   1053
all_infected                       2813
dead                              51525
beds                              12585
i                                     0
j                                     0
k                                     0
l                                     0
population                      4903185
m                                     0
n                                     0
short_fall                            0
Name: 28, dtype: object

In [294]:
%%timeit
get_county_projections()

WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
2.15 s ± 81.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [159]:
`2.15 s ± 81.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)`

In [ ]:
%%timeit
df.all_hospitalized.mean().round(0)

In [311]:
%%timeit
df.all_hospitalized.mean().round(0)

74.8 µs ± 817 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [307]:
import math

In [310]:
%%timeit
math.floor(df.all_hospitalized.mean())

73 µs ± 1.45 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [296]:
%%timeit
get_county_projections()

WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
WARNING:libs.datasets.dataset_utils:Did not match 46 codes to county data.
WARNING:libs.datasets.dataset_utils:['00066', '00072', '00078', '60000', '66000', '69000', '78000', '80008', '88888', '90001', '90002', '90004', '90005', '90006', '90008', '90009', '90010', '90012', '90013', '90015', '90016', '90017', '90019', '90021', '90023', '90024', '90025', '90027', '90029', '90030', '90031', '90032', '90033', '90034', '90035', '90036', '90038', '90040', '90044', '90046', '90047', '90050', '90051', '90053', '90054', '90055']
Models missing for 1314 states
2.28 s ± 42.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [233]:
first_record_after_date

day_num                              40
date                2020-04-22 00:00:00
a                                     0
b                                     0
c                                     0
d                                     0
e                                     0
f                                     0
g                                     0
all_hospitalized                   8505
all_infected                     241284
dead                                459
beds                              12585
i                                     0
j                                     0
k                                     0
l                                     0
population                      4903185
m                                     0
n                                     0
short_fall                            0
Name: 10, dtype: object

In [110]:
get_interventions_df().head()

  state       intervention
0    MI   shelter_in_place
1    DE   shelter_in_place
2    ME  social_distancing
3    ND  social_distancing
4    KY  social_distancing

In [4]:
get_abbrev_df().head()

       state abbreviation
0   Illinois           IL
1       Iowa           IA
2    Florida           FL
3  Minnesota           MN
4  Louisiana           LA

In [5]:
get_projections_df().head()

  State  Projection1  Projection2
0    AK            3            8
1    AL          169          406
2    AZ           19           46
3    AR           52          125
4    CA         1264         3031

In [64]:
f = get_usa_by_states_df().head()

In [65]:
g = get_usa_by_county_df().head()

In [91]:
g = get_usa_by_county_df()
#g = g[(g['Confirmed']>0) | (g['Recovered']>0) | (g['Deaths']>0) | (g['Active']>0)]
#g = g.sort_values('Confirmed', ascending=False)
g.to_clipboard(sep=',')
len(g)

3177

In [92]:
(g.Latitude == 0).value_counts()

False    3151
True       26
Name: Latitude, dtype: int64

In [93]:
(g.Longitude == 0).value_counts()

False    3151
True       26
Name: Longitude, dtype: int64

In [94]:
(g == '<Null>').sum()

Province/State               0
Country/Region               0
Last Update                  0
Latitude                     0
Longitude                    0
Confirmed                    0
Recovered                    0
Deaths                       0
Active                       0
County                      28
State/County FIPS Code      27
Combined Key                 0
Incident Rate             3177
People Tested             3177
Shape                        0
dtype: int64

In [97]:
a = (g['County'] == '<Null>')
b = (g['State/County FIPS Code'] == '<Null>')

42955355,-88.42586459,0,0,0,0,Wayne,17191,"Wayne, Illinois, US",<Null>,<Null>,Point\n3017,Indiana,US,3/25/2020 23:33,39.8633444,-85.01044989,0,0,0,0,Wayne,18177,"Wayne, Indiana, US",<Null>,<Null>,Point\n3018,Iowa,US,3/25/2020 23:33,40.73969028,-93.32752197,0,0,0,0,Wayne,19185,"Wayne, Iowa, US",<Null>,<Null>,Point\n3019,Kentucky,US,3/25/2020 23:33,36.80310688,-84.8251971,0,0,0,0,Wayne,21231,"Wayne, Kentucky, US",<Null>,<Null>,Point\n3020,Michigan,US,3/25/2020 23:33,42.28098405,-83.281255,1122,0,21,0,Wayne,26163,"Wayne, Michigan, US",<Null>,<Null>,Point\n3021,Mississippi,US,3/25/2020 23:33,31.64135687,-88.69573913,0,0,0,0,Wayne,28153,"Wayne, Mississippi, US",<Null>,<Null>,Point\n3022,Missouri,US,3/25/2020 23:33,37.11303869,-90.46001416,0,0,0,0,Wayne,29223,"Wayne, Missouri, US",<Null>,<Null>,Point\n3023,Nebraska,US,3/25/2020 23:33,42.20934475,-97.11926964,0,0,0,0,Wayne,31179,"Wayne, Nebraska, US",<Null>,<Null>,Point\n3024,New York,US,3/25/2020 23:33,43.15494365,-77.02976528,7,0,0,0,Wayne,36117,"Wayne, New York, US",<Null>,<Null>,Point\n3025,North Carolina,US,3/25/2020 23:33,35.36438125,-78.00027268,3,0,0,0,Wayne,37191,"Wayne, North Carolina, US",<Null>,<Null>,Point\n3026,Ohio,US,3/25/2020 23:33,40.82925852,-81.88844833,1,0,0,0,Wayne,39169,"Wayne, Ohio, US",<Null>,<Null>,Point\n3027,Pennsylvania,US,3/25/2020 23:33,41.64938475,-75.29956506,4,0,0,0,Wayne,42127,"Wayne, Pennsylvania, US",<Null>,<Null>,Point\n3028,Tennessee,US,3/25/2020 23:33,35.23868267,-87.78644456,0,0,0,0,Wayne,47181,"Wayne, Tennessee, US",<Null>,<Null>,Point\n3029,Utah,US,3/25/2020 23:33,38.32335822,-110.9096801,0,0,0,0,Wayne,49055,"Wayne, Utah, US",<Null>,<Null>,Point\n3030,West Virginia,US,3/25/2020 23:33,38.14901357,-82.42287994,0,0,0,0,Wayne,54099,"Wayne, West Virginia, US",<Null>,<Null>,Point\n3031,Virginia,US,3/25/2020 23:33,38.06451466,-78.90293905,0,0,0,0,Waynesboro,51820,"Waynesboro, Virginia, US",<Null>,<Null>,Point\n3032,Tennessee,US,3/25/2020 23:33,36.29896232,-88.71990865,0,0,0,0,Weakley,47183,"Weakley, Tennessee, US",<Null>,<Null>,Point\n3033,Texas,US,3/25/2020 23:33,27.7610369,-99.33237355,9,0,0,0,Webb,48479,"Webb, Texas, US",<Null>,<Null>,Point\n3034,Utah,US,3/25/2020 23:33,41.27116049,-111.9145117,10,0,0,0,Weber,49057,"Weber,Utah,US",<Null>,<Null>,Point\n3035,Georgia,US,3/25/2020 23:33,32.04066113,-84.54742852,0,0,0,0,Webster,13307,"Webster, Georgia, US",<Null>,<Null>,Point\n3036,Iowa,US,3/25/2020 23:33,42.42853483,-94.17987389,0,0,0,0,Webster,19187,"Webster, Iowa, US",<Null>,<Null>,Point\n3037,Kentucky,US,3/25/2020 23:33,37.52168356,-87.67989953,1,0,0,0,Webster,21233,"Webster, Kentucky, US",<Null>,<Null>,Point\n3038,Louisiana,US,3/25/2020 23:33,32.70847669,-93.33121835,5,0,1,0,Webster,22119,"Webster, Louisiana, US",<Null>,<Null>,Point\n3039,Mississippi,US,3/25/2020 23:33,33.61300486,-89.28392912,2,0,1,0,Webster,28155,"Webster, Mississippi, US",<Null>,<Null>,Point\n3040,Missouri,US,3/25/2020 23:33,37.2813734,-92.876329,0,0,0,0,Webster,29225,"Webster, Missouri, US",<Null>,<Null>,Point\n3041,Nebraska,US,3/25/2020 23:33,40.17642643,-98.50019851,0,0,0,0,Webster,31181,"Webster, Nebraska, US",<Null>,<Null>,Point\n3042,West Virginia,US,3/25/2020 23:33,38.49370949,-80.4202023,0,0,0,0,Webster,54101,"Webster, West Virginia, US",<Null>,<Null>,Point\n3043,Colorado,US,3/25/2020 23:33,40.55499405,-104.3929621,87,0,4,0,Weld,8123,"Weld, Colorado, US",<Null>,<Null>,Point\n3044,Indiana,US,3/25/2020 23:33,40.72934187,-85.22132966,1,0,0,0,Wells,18179,"Wells, Indiana, US",<Null>,<Null>,Point\n3045,North Dakota,US,3/25/2020 23:33,47.58614526,-99.65904998,0,0,0,0,Wells,38103,"Wells, North Dakota, US",<Null>,<Null>,Point\n3046,Louisiana,US,3/25/2020 23:33,30.46058217,-91.30989571,7,0,1,0,West Baton Rouge,22121,"West Baton Rouge, Louisiana, US",<Null>,<Null>,Point\n3047,Louisiana,US,3/25/2020 23:33,32.78550125,-91.461201,0,0,0,0,West Carroll,22123,"West Carroll, Louisiana, US",<Null>,<Null>,Point\n3048,Louisiana,US,3/25/2020 23:33,30.87882871,-91.4148538,0,0,0,0,West Feliciana,22125,"West Feliciana, Louisiana, US",<Null>,<Null>,Point\n3049,New York,US,3/25/2020 23:33,41.16278376,-73.75741653,4691,0,1,0,Westchester,36119,"Westchester, New York, US",<Null>,<Null>,Point\n3050,Pennsylvania,US,3/25/2020 23:33,40.31377979999999,-79.46615476,16,0,0,0,Westmoreland,42129,"Westmoreland, Pennsylvania, US",<Null>,<Null>,Point\n3051,Virginia,US,3/25/2020 23:33,38.11021557,-76.80213247,0,0,0,0,Westmoreland,51193,"Westmoreland, Virginia, US",<Null>,<Null>,Point\n3052,Wyoming,US,3/25/2020 23:33,43.83961191,-104.5674881,0,0,0,0,Weston,56045,"Weston, Wyoming, US",<Null>,<Null>,Point\n3053,West Virginia,US,3/25/2020 23:33,39.6065771,-80.64016540000001,0,0,0,0,Wetzel,54103,"Wetzel, West Virginia, US",<Null>,<Null>,Point\n3054,Michigan,US,3/25/2020 23:33,44.33853602,-85.57712739,1,0,0,0,Wexford,26165,"Wexford, Michigan, US",<Null>,<Null>,Point\n3055,Texas,US,3/25/2020 23:33,29.27765923,-96.22319248,3,0,0,0,Wharton,48481,"Wharton, Texas, US",<Null>,<Null>,Point\n3056,Washington,US,3/25/2020 23:33,48.82227976,-121.7490018,64,0,2,0,Whatcom,53073,"Whatcom, Washington, US",<Null>,<Null>,Point\n3057,Montana,US,3/25/2020 23:33,46.46652491,-109.8464636,0,0,0,0,Wheatland,30107,"Wheatland, Montana, US",<Null>,<Null>,Point\n3058,Georgia,US,3/25/2020 23:33,32.12009104,-82.72574721,0,0,0,0,Wheeler,13309,"Wheeler, Georgia, US",<Null>,<Null>,Point\n3059,Nebraska,US,3/25/2020 23:33,41.91482725,-98.52798941,0,0,0,0,Wheeler,31183,"Wheeler, Nebraska, US",<Null>,<Null>,Point\n3060,Oregon,US,3/25/2020 23:33,44.72698162,-120.02814270000002,0,0,0,0,Wheeler,41069,"Wheeler, Oregon, US",<Null>,<Null>,Point\n3061,Texas,US,3/25/2020 23:33,35.40114335,-100.2699514,0,0,0,0,Wheeler,48483,"Wheeler, Texas, US",<Null>,<Null>,Point\n3062,Arkansas,US,3/25/2020 23:33,35.25688493,-91.74908296,1,0,0,0,White,5145,"White, Arkansas, US",<Null>,<Null>,Point\n3063,Georgia,US,3/25/2020 23:33,34.64624278,-83.74905525,1,0,0,0,White,13311,"White, Georgia, US",<Null>,<Null>,Point\n3064,Illinois,US,3/25/2020 23:33,38.08706198,-88.17657461,0,0,0,0,White,17193,"White, Illinois, US",<Null>,<Null>,Point\n3065,Indiana,US,3/25/2020 23:33,40.74911165,-86.86492015,0,0,0,0,White,18181,"White, Indiana, US",<Null>,<Null>,Point\n3066,Tennessee,US,3/25/2020 23:33,35.92929884,-85.45591799,1,0,0,0,White,47185,"White, Tennessee, US",<Null>,<Null>,Point\n3067,Nevada,US,3/25/2020 23:33,39.44157041,-114.899966,0,0,0,0,White Pine,32033,"White Pine, Nevada, US",<Null>,<Null>,Point\n3068,Illinois,US,3/25/2020 23:33,41.75509713,-89.91556058,1,0,0,0,Whiteside,17195,"Whiteside, Illinois, US",<Null>,<Null>,Point\n3069,Georgia,US,3/25/2020 23:33,34.80987459,-84.96093476,4,0,0,0,Whitfield,13313,"Whitfield, Georgia, US",<Null>,<Null>,Point\n3070,Indiana,US,3/25/2020 23:33,41.13863784,-85.50791236,0,0,0,0,Whitley,18183,"Whitley, Indiana, US",<Null>,<Null>,Point\n3071,Kentucky,US,3/25/2020 23:33,36.75700531,-84.14541217,0,0,0,0,Whitley,21235,"Whitley, Kentucky, US",<Null>,<Null>,Point\n3072,Washington,US,3/25/2020 23:33,46.90022523,-117.5241763,2,0,0,0,Whitman,53075,"Whitman, Washington, US",<Null>,<Null>,Point\n3073,Montana,US,3/25/2020 23:33,46.95925154,-104.2510927,0,0,0,0,Wibaux,30109,"Wibaux, Montana, US",<Null>,<Null>,Point\n3074,Kansas,US,3/25/2020 23:33,38.48178252,-101.3471509,0,0,0,0,Wichita,20203,"Wichita, Kansas, US",<Null>,<Null>,Point\n3075,Texas,US,3/25/2020 23:33,33.98842886,-98.7041034,8,0,0,0,Wichita,48485,"Wichita, Texas, US",<Null>,<Null>,Point\n3076,Maryland,US,3/25/2020 23:33,38.37301947,-75.62705831,4,0,0,0,Wicomico,24045,"Wicomico, Maryland, US",<Null>,<Null>,Point\n3077,Texas,US,3/25/2020 23:33,34.07945812,-99.24178437,0,0,0,0,Wilbarger,48487,"Wilbarger, Texas, US",<Null>,<Null>,Point\n3078,Alabama,US,3/25/2020 23:33,31.98773215,-87.30891118,1,0,0,0,Wilcox,1131,"Wilcox, Alabama, US",<Null>,<Null>,Point\n3079,Georgia,US,3/25/2020 23:33,31.97496928,-83.43438555,0,0,0,0,Wilcox,13315,"Wilcox, Georgia, US",<Null>,<Null>,Point\n3080,Georgia,US,3/25/2020 23:33,33.78290391,-82.74286107,1,0,0,0,Wilkes,13317,"Wilkes, Georgia, US",<Null>,<Null>,Point\n3081,North Carolina,US,3/25/2020 23:33,36.2084135,-81.16232895,0,0,0,0,Wilkes,37193,"Wilkes, North Carolina, US",<Null>,<Null>,Point\n3082,Minnesota,US,3/25/2020 23:33,46.35721532,-96.4684375,0,0,0,0,Wilkin,27167,"Wilkin, Minnesota, US",<Null>,<Null>,Point\n3083,Georgia,US,3/25/2020 23:33,32.80291082,-83.17140684,0,0,0,0,Wilkinson,13319,"Wilkinson, Georgia, US",<Null>,<Null>,Point\n3084,Mississippi,US,3/25/2020 23:33,31.16078225,-91.31018819,5,0,0,0,Wilkinson,28157,"Wilkinson, Mississippi, US",<Null>,<Null>,Point\n3085,Illinois,US,3/25/2020 23:33,41.44619267,-87.97862712,40,0,2,0,Will,17197,"Will, Illinois, US",<Null>,<Null>,Point\n3086,Texas,US,3/25/2020 23:33,26.47411727,-97.61535848,0,0,0,0,Willacy,48489,"Willacy, Texas, US",<Null>,<Null>,Point\n3087,North Dakota,US,3/25/2020 23:33,48.34522353,-103.4793387,0,0,0,0,Williams,38105,"Williams, North Dakota, US",<Null>,<Null>,Point\n3088,Ohio,US,3/25/2020 23:33,41.56052014,-84.58429552,0,0,0,0,Williams,39171,"Williams, Ohio, US",<Null>,<Null>,Point\n3089,South Carolina,US,3/25/2020 23:33,33.62190129,-79.72767442,1,0,0,0,Williamsburg,45089,"Williamsburg, South Carolina, US",<Null>,<Null>,Point\n3090,Virginia,US,3/25/2020 23:33,37.28131268,-76.70905141,5,0,1,0,Williamsburg,51830,"Williamsburg, Virginia, US",<Null>,<Null>,Point\n3091,Illinois,US,3/25/2020 23:33,37.73033511,-88.92994027,0,0,0,0,Williamson,17199,"Williamson, Illinois, US",<Null>,<Null>,Point\n3092,Tennessee,US,3/25/2020 23:33,35.89099229,-86.89281867,66,0,0,0,Williamson,47187,"Williamson, Tennessee, US",<Null>,<Null>,Point\n3093,Texas,US,3/25/2020 23:33,30.64655664,-97.6004854,22,0,0,0,Williamson,48491,"Williamson, Texas, US",<Null>,<Null>,Point\n3094,Kansas,US,3/25/2020 23:33,37.55937174,-95.74323255,0,0,0,0,Wilson,20205,"Wilson, Kansas, US",<Null>,<Null>,Point\n3095,North Carolina,US,3/25/2020 23:33,35.70625477,-77.917978,6,0,0,0,Wilson,37195,"Wilson, North Carolina, US",<Null>,<Null>,Point\n3096,Tennessee,US,3/25/2020 23:33,36.15496772,-86.29775884,10,0,0,0,Wilson,47189,"Wilson, Tennessee, US",<Null>,<Null>,Point\n3097,Texas,US,3/25/2020 23:33,29.1732598,-98.08693082,1,0,0,0,Wilson,48493,"Wilson, Texas, US",<Null>,<Null>,Point\n3098,Virginia,US,3/25/2020 23:33,39.17054517,-78.17325058,0,0,0,0,Winchester,51840,"Winchester, Virginia, US",<Null>,<Null>,Point\n3099,Connecticut,US,3/25/2020 23:33,41.82972709,-71.98182316,2,0,0,0,Windham,9015,"Windham, Connecticut, US",<Null>,<Null>,Point\n3100,Vermont,US,3/25/2020 23:33,42.986982,-72.71268875,7,0,0,0,Windham,50025,"Windham, Vermont, US",<Null>,<Null>,Point\n3101,Vermont,US,3/25/2020 23:33,43.58010937,-72.58595157,17,0,1,0,Windsor,50027,"Windsor, Vermont, US",<Null>,<Null>,Point\n3102,Texas,US,3/25/2020 23:33,31.85008651,-103.0485163,0,0,0,0,Winkler,48495,"Winkler, Texas, US",<Null>,<Null>,Point\n3103,Louisiana,US,3/25/2020 23:33,31.94449367,-92.63789413,1,0,0,0,Winn,22127,"Winn, Louisiana, US",<Null>,<Null>,Point\n3104,Illinois,US,3/25/2020 23:33,42.33641854,-89.16085327,7,0,0,0,Winnebago,17201,"Winnebago, Illinois, US",<Null>,<Null>,Point\n3105,Iowa,US,3/25/2020 23:33,43.37751174,-93.73407298,0,0,0,0,Winnebago,19189,"Winnebago, Iowa, US",<Null>,<Null>,Point\n3106,Wisconsin,US,3/25/2020 23:33,44.06886922,-88.64477096,5,0,0,0,Winnebago,55139,"Winnebago, Wisconsin, US",<Null>,<Null>,Point\n3107,Iowa,US,3/25/2020 23:33,43.29094334,-91.84422722,1,0,0,0,Winneshiek,19191,"Winneshiek, Iowa, US",<Null>,<Null>,Point\n3108,Minnesota,US,3/25/2020 23:33,43.98772283,-91.78081305,2,0,0,0,Winona,27169,"Winona, Minnesota, US",<Null>,<Null>,Point\n3109,Alabama,US,3/25/2020 23:33,34.15030532,-87.37325922,0,0,0,0,Winston,1133,"Winston, Alabama, US",<Null>,<Null>,Point\n3110,Mississippi,US,3/25/2020 23:33,33.08747908,-89.03391385,3,0,0,0,Winston,28159,"Winston, Mississippi, US",<Null>,<Null>,Point\n3111,West Virginia,US,3/25/2020 23:33,39.02775007,-81.37473928,0,0,0,0,Wirt,54105,"Wirt, West Virginia, US",<Null>,<Null>,Point\n3112,Texas,US,3/25/2020 23:33,33.21570665,-97.65460265,0,0,0,0,Wise,48497,"Wise, Texas, US",<Null>,<Null>,Point\n3113,Virginia,US,3/25/2020 23:33,36.9746148,-82.62410519,0,0,0,0,Wise,51195,"Wise, Virginia, US",<Null>,<Null>,Point\n3114,Kentucky,US,3/25/2020 23:33,37.73941626,-83.49303612,0,0,0,0,Wolfe,21237,"Wolfe, Kentucky, US",<Null>,<Null>,Point\n3115,Ohio,US,3/25/2020 23:33,41.36224827,-83.62285108,3,0,0,0,Wood,39173,"Wood, Ohio, US",<Null>,<Null>,Point\n3116,Texas,US,3/25/2020 23:33,32.78722382,-95.38236368,0,0,0,0,Wood,48499,"Wood, Texas, US",<Null>,<Null>,Point\n3117,West Virginia,US,3/25/2020 23:33,39.20967886,-81.5162836,1,0,0,0,Wood,54107,"Wood, West Virginia, US",<Null>,<Null>,Point\n3118,Wisconsin,US,3/25/2020 23:33,44.45537896,-90.04158336,1,0,0,0,Wood,55141,"Wood, Wisconsin, US",<Null>,<Null>,Point\n3119,Iowa,US,3/25/2020 23:33,42.38979414,-96.0459439,2,0,0,0,Woodbury,19193,"Woodbury, Iowa, US",<Null>,<Null>,Point\n3120,Illinois,US,3/25/2020 23:33,40.78579374,-89.20973757,3,0,0,0,Woodford,17203,"Woodford, Illinois, US",<Null>,<Null>,Point\n3121,Kentucky,US,3/25/2020 23:33,38.04178222,-84.7417556,0,0,0,0,Woodford,21239,"Woodford, Kentucky, US",<Null>,<Null>,Point\n3122,Arkansas,US,3/25/2020 23:33,35.18902527,-91.2439489,1,0,0,0,Woodruff,5147,"Woodruff, Arkansas, US",<Null>,<Null>,Point\n3123,Oklahoma,US,3/25/2020 23:33,36.76705782,-98.86573064,0,0,0,0,Woods,40151,"Woods, Oklahoma, US",<Null>,<Null>,Point\n3124,Kansas,US,3/25/2020 23:33,37.8865336,-95.74006277,1,0,0,0,Woodson,20207,"Woodson, Kansas, US",<Null>,<Null>,Point\n3125,Oklahoma,US,3/25/2020 23:33,36.42316318,-99.26283045,0,0,0,0,Woodward,40153,"Woodward, Oklahoma, US",<Null>,<Null>,Point\n3126,Maryland,US,3/25/2020 23:33,38.21274277,-75.33200012,2,0,0,0,Worcester,24047,"Worcester, Maryland, US",<Null>,<Null>,Point\n3127,Massachusetts,US,3/25/2020 23:33,42.35026951,-71.90493363,129,0,2,0,Worcester,25027,"Worcester, Massachusetts, US",<Null>,<Null>,Point\n3128,Georgia,US,3/25/2020 23:33,31.55162306,-83.85090513,4,0,0,0,Worth,13321,"Worth, Georgia, US",<Null>,<Null>,Point\n3129,Iowa,US,3/25/2020 23:33,43.37750768,-93.26087602,0,0,0,0,Worth,19195,"Worth, Iowa, US",<Null>,<Null>,Point\n3130,Missouri,US,3/25/2020 23:33,40.47945588,-94.42328751,0,0,0,0,Worth,29227,"Worth, Missouri, US",<Null>,<Null>,Point\n3131,Alaska,US,3/25/2020 23:33,56.3202004,-132.05837309999998,0,0,0,0,Wrangell,2275,"Wrangell, Alaska, US",<Null>,<Null>,Point\n3132,Iowa,US,3/25/2020 23:33,42.73305373,-93.73515113,0,0,0,0,Wright,19197,"Wright, Iowa, US",<Null>,<Null>,Point\n3133,Minnesota,US,3/25/2020 23:33,45.17297924,-93.96234781,3,0,0,0,Wright,27171,"Wright, Minnesota, US",<Null>,<Null>,Point\n3134,Missouri,US,3/25/2020 23:33,37.27029221,-92.46914488,0,0,0,0,Wright,29229,"Wright, Missouri, US",<Null>,<Null>,Point\n3135,Ohio,US,3/25/2020 23:33,40.84339621,-83.30734173,0,0,0,0,Wyandot,39175,"Wyandot, Ohio, US",<Null>,<Null>,Point\n3136,Kansas,US,3/25/2020 23:33,39.11727348,-94.76378225,27,0,2,0,Wyandotte,20209,"Wyandotte, Kansas, US",<Null>,<Null>,Point\n3137,New York,US,3/25/2020 23:33,42.70145109,-78.22199579,4,0,1,0,Wyoming,36121,"Wyoming, New York, US",<Null>,<Null>,Point\n3138,Pennsylvania,US,3/25/2020 23:33,41.51955538,-76.01074915,0,0,0,0,Wyoming,42131,"Wyoming, Pennsylvania, US",<Null>,<Null>,Point\n3139,West Virginia,US,3/25/2020 23:33,37.612327,-81.54511071,0,0,0,0,Wyoming,54109,"Wyoming, West Virginia, US",<Null>,<Null>,Point\n3140,Virginia,US,3/25/2020 23:33,36.91582035,-81.07834059,0,0,0,0,Wythe,51197,"Wythe, Virginia, US",<Null>,<Null>,Point\n3141,North Carolina,US,3/25/2020 23:33,36.16222629,-80.66239436,0,0,0,0,Yadkin,37197,"Yadkin, North Carolina, US",<Null>,<Null>,Point\n3142,Washington,US,3/25/2020 23:33,46.45738486,-120.7380126,47,0,1,0,Yakima,53077,"Yakima, Washington, US",<Null>,<Null>,Point\n3143,Alaska,US,3/25/2020 23:33,59.8909808,-140.36014509999998,0,0,0,0,Yakutat,2282,"Yakutat, Alaska, US",<Null>,<Null>,Point\n3144,Mississippi,US,3/25/2020 23:33,34.02824175,-89.70762049999998,0,0,0,0,Yalobusha,28161,"Yalobusha, Mississippi, US",<Null>,<Null>,Point\n3145,Oregon,US,3/25/2020 23:33,45.23330449,-123.3086963,7,0,0,0,Yamhill,41071,"Yamhill, Oregon, US",<Null>,<Null>,Point\n3146,North Carolina,US,3/25/2020 23:33,35.90079156,-82.31237181,0,0,0,0,Yancey,37199,"Yancey, North Carolina, US",<Null>,<Null>,Point\n3147,South Dakota,US,3/25/2020 23:33,43.00924485,-97.39467635,0,0,0,0,Yankton,46135,"Yankton, South Dakota, US",<Null>,<Null>,Point\n3148,New York,US,3/25/2020 23:33,42.63505484,-77.10369919,0,0,0,0,Yates,36123,"Yates, New York, US",<Null>,<Null>,Point\n3149,Arizona,US,3/25/2020 23:33,34.59933926,-112.5538588,4,0,0,0,Yavapai,4025,"Yavapai, Arizona, US",<Null>,<Null>,Point\n3150,Mississippi,US,3/25/2020 23:33,32.77890365,-90.39656148,3,0,0,0,Yazoo,28163,"Yazoo, Mississippi, US",<Null>,<Null>,Point\n3151,Arkansas,US,3/25/2020 23:33,35.00292371,-93.41171338,0,0,0,0,Yell,5149,"Yell, Arkansas, US",<Null>,<Null>,Point\n3152,Minnesota,US,3/25/2020 23:33,44.71710183,-95.86842453,0,0,0,0,Yellow Medicine,27173,"Yellow Medicine, Minnesota, US",<Null>,<Null>,Point\n3153,Montana,US,3/25/2020 23:33,45.93955949,-108.2691486,12,0,0,0,Yellowstone,30111,"Yellowstone, Montana, US",<Null>,<Null>,Point\n3154,Texas,US,3/25/2020 23:33,33.17320212,-102.8276433,0,0,0,0,Yoakum,48501,"Yoakum, Texas, US",<Null>,<Null>,Point\n3155,California,US,3/25/2020 23:33,38.68278902,-121.9018288,10,0,1,0,Yolo,6113,"Yolo, California, US",<Null>,<Null>,Point\n3156,Maine,US,3/25/2020 23:33,43.47808377,-70.71052375,23,0,0,0,York,23031,"York, Maine, US",<Null>,<Null>,Point\n3157,Nebraska,US,3/25/2020 23:33,40.87272618,-97.59710186,0,0,0,0,York,31185,"York, Nebraska, US",<Null>,<Null>,Point\n3158,Pennsylvania,US,3/25/2020 23:33,39.9210089,-76.73040131,20,0,0,0,York,42133,"York, Pennsylvania, US",<Null>,<Null>,Point\n3159,South Carolina,US,3/25/2020 23:33,34.97281497,-81.18085944,18,0,0,0,York,45091,"York, South Carolina, US",<Null>,<Null>,Point\n3160,Virginia,US,3/25/2020 23:33,37.24374789,-76.54412815,8,0,1,0,York,51199,"York, Virginia, US",<Null>,<Null>,Point\n3161,Texas,US,3/25/2020 23:33,33.17659707,-98.68790885,1,0,0,0,Young,48503,"Young, Texas, US",<Null>,<Null>,Point\n3162,California,US,3/25/2020 23:33,39.26255932,-121.3535644,0,0,0,0,Yuba,6115,"Yuba, California, US",<Null>,<Null>,Point\n3163,Alaska,US,3/25/2020 23:33,65.50815459,-151.3907387,0,0,0,0,Yukon-Koyukuk,2290,"Yukon-Koyukuk, Alaska, US",<Null>,<Null>,Point\n3164,Arizona,US,3/25/2020 23:33,32.76895712,-113.90666740000002,3,0,0,0,Yuma,4027,"Yuma, Arizona, US",<Null>,<Null>,Point\n3165,Colorado,US,3/25/2020 23:33,40.00346839,-102.4258673,1,0,0,0,Yuma,8125,"Yuma, Colorado, US",<Null>,<Null>,Point\n3166,Texas,US,3/25/2020 23:33,27.00156391,-99.16987152,0,0,0,0,Zapata,48505,"Zapata, Texas, US",<Null>,<Null>,Point\n3167,Texas,US,3/25/2020 23:33,28.86617238,-99.76050829,0,0,0,0,Zavala,48507,"Zavala, Texas, US",<Null>,<Null>,Point\n3168,South Dakota,US,3/25/2020 23:33,44.97881876,-101.6654622,0,0,0,0,Ziebach,46137,"Ziebach, South Dakota, US",<Null>,<Null>,Point\n3170,American Samoa,US,3/25/2020 23:33,-14.271,-170.132,0,0,0,0,<Null>,60000,"American Samoa, US",<Null>,<Null>,Point\n3182,Diamond Princess,US,3/25/2020 23:33,0.0,0.0,49,0,0,0,<Null>,88888,"Diamond Princess, US",<Null>,<Null>,Point\n3190,Grand Princess,US,3/25/2020 23:33,0.0,0.0,28,0,1,0,<Null>,99999,"Grand Princess, US",<Null>,<Null>,Point\n3193,Guam,US,3/25/2020 23:33,13.4443,144.7937,37,0,1,0,<Null>,66000,"Guam, US",<Null>,<Null>,Point\n3220,Northern Mariana Islands,US,3/25/2020 23:33,15.0979,145.6739,0,0,0,0,<Null>,69000,"Northern Mariana Islands, US",<Null>,<Null>,Point\n3225,Puerto Rico,US,3/25/2020 23:33,18.2208,-66.5901,51,0,2,0,<Null>,<Null>,"Puerto Rico, US",<Null>,<Null>,Point\n3230,Recovered,US,3/25/2020 23:33,0.0,0.0,0,361,0,0,<Null>,<Null>,"Recovered, US",<Null>,<Null>,Point\n3246,Virgin Islands,US,3/25/2020 23:33,18.3358,-64.8963,17,0,0,0,<Null>,78000,"Virgin Islands, US",<Null>,<Null>,Point\n'

In [80]:
ind = g['Combined Key'].str.contains('Unassigned, ')
l = g['Combined Key'].str.replace('Unassigned, ','')

In [62]:
g[g['County']=='<Null>']['Combined].value_counts()

Monroe, Tennessee, US               1
Lafayette, Florida, US              1
Conecuh, Alabama, US                1
St. Johns, Florida, US              1
Miller, Arkansas, US                1
Liberty, Montana, US                1
Clay, Minnesota, US                 1
York, South Carolina, US            1
McHenry, North Dakota, US           1
Rockingham, New Hampshire, US       1
Johnson, Indiana, US                1
Gregg, Texas, US                    1
Chesterfield, South Carolina, US    1
Ashley, Arkansas, US                1
Gem, Idaho, US                      1
Bryan, Oklahoma, US                 1
El Paso, Colorado, US               1
Collin, Texas, US                   1
Linn, Iowa, US                      1
Clackamas, Oregon, US               1
Hancock, Kentucky, US               1
Kiowa, Kansas, US                   1
Mifflin, Pennsylvania, US           1
Wasatch, Utah, US                   1
Fulton, Kentucky, US                1
Fremont, Wyoming, US                1
St. Clair, Missouri, US             1
Perquimans, North Carolina, US      1
Hart, Georgia, US                   1
Harper, Oklahoma, US                1
                                   ..
Walker, Alabama, US                 1
Logan, Illinois, US                 1
Dougherty, Georgia, US              1
Limestone, Texas, US                1
Hays, Texas, US                     1
Gordon, Georgia, US                 1
Mineral, West Virginia, US          1
Wake, North Carolina, US            1
Gray, Kansas, US                    1
Leelanau, Michigan, US              1
Sevier, Arkansas, US                1
Roberts, South Dakota, US           1
Wilson, Kansas, US                  1
Marshall, Oklahoma, US              1
Madison, Mississippi, US            1
Laramie, Wyoming, US                1
Whitfield, Georgia, US              1
Grand, Utah, US                     1
Yates, New York, US                 1
Scott, Indiana, US                  1
Alfalfa, Oklahoma, US               1
Jefferson, Missouri, US             1
Washington, Alabama, US             1
Dodge, Minnesota, US                1
Martinsville, Virginia, US          1
Dodge, Wisconsin, US                1
Williamsburg, South Carolina, US    1
Buckingham, Virginia, US            1
Harvey, Kansas, US                  1
Dallam, Texas, US                   1
Name: Combined Key, Length: 3177, dtype: int64

In [175]:
g.to_csv('temp.csv')

In [18]:
g = get_usa_by_states_df()
g.to_clipboard(sep=',')
g.tail(5)

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Recovered,Deaths,Active,County,State/County FIPS Code,Combined Key,Incident Rate,People Tested,Shape,Intervention,4-day Hospitalizations Prediction,8-day Hospitalizations Prediction
45,Virginia,US,3/25/2020 23:33,37.767072,-75.632346,396,0,9,0,<Null>,51,Virginia,<Null>,<Null>,Point,social_distancing,155,373
46,Washington,US,3/25/2020 23:33,46.982998,-118.560173,2591,0,133,0,<Null>,53,Washington,<Null>,<Null>,Point,shelter_in_place,1327,3171
47,West Virginia,US,3/25/2020 23:33,39.130722,-80.003509,39,0,0,0,<Null>,54,West Virginia,<Null>,<Null>,Point,shelter_in_place,5,12
48,Wisconsin,US,3/25/2020 23:33,43.969747,-89.767828,621,0,7,0,<Null>,55,Wisconsin,<Null>,<Null>,Point,shelter_in_place,255,611
49,Wyoming,US,3/25/2020 23:33,41.654987,-105.723541,44,0,0,0,<Null>,56,Wyoming,<Null>,<Null>,Point,social_distancing,22,52

In [114]:
output_cols = ["Province/State",
    "Country/Region",
    "Last Update",
    "Latitude",
    "Longitude",
    "Confirmed",
    "Recovered",
    "Deaths",
    "Active",
    "County",
    "State/County FIPS Code",
    "Combined Key",
    "Incident Rate",
    "People Tested",
    "Shape"
]

In [153]:
final_df.

In [142]:
final_df[US_only & final_df['State/County FIPS Code'].isnull()]

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Recovered,Deaths,Active,County,State/County FIPS Code,Combined Key,Incident Rate,People Tested,Shape
825,Massachusetts,US,3/25/2020 23:33,41.406747,-70.687635,3,0,0,0,Dukes and Nantucket,NaN,"Dukes and Nantucket,Massachusetts,US",NaN,NaN,Point
1473,Missouri,US,3/25/2020 23:33,39.099700,-94.578600,43,0,0,0,Kansas City,NaN,"Kansas City,Missouri,US",NaN,NaN,Point
2178,Michigan,US,3/25/2020 23:33,0.000000,0.000000,7,0,0,0,Out of MI,NaN,"Out of MI,Michigan,US",NaN,NaN,Point
2179,Tennessee,US,3/25/2020 23:33,0.000000,0.000000,100,0,0,0,Out of TN,NaN,"Out of TN,Tennessee,US",NaN,NaN,Point
2180,Utah,US,3/25/2020 23:33,0.000000,0.000000,14,0,0,0,Out of UT,NaN,"Out of UT,Utah,US",NaN,NaN,Point
2856,Alaska,US,3/25/2020 23:33,0.000000,0.000000,0,0,1,0,Unassigned,NaN,"Unassigned, Alaska, US",NaN,NaN,Point
2857,Arizona,US,3/25/2020 23:33,0.000000,0.000000,0,0,2,0,Unassigned,NaN,"Unassigned, Arizona, US",NaN,NaN,Point
2858,Arkansas,US,3/25/2020 23:33,0.000000,0.000000,20,0,1,0,Unassigned,NaN,"Unassigned, Arkansas, US",NaN,NaN,Point
2859,Colorado,US,3/25/2020 23:33,0.000000,0.000000,18,0,0,0,Unassigned,NaN,"Unassigned, Colorado, US",NaN,NaN,Point
2860,Georgia,US,3/25/2020 23:33,0.000000,0.000000,146,0,24,0,Unassigned,NaN,"Unassigned, Georgia, US",NaN,NaN,Point
2861,Hawaii,US,3/25/2020 23:33,0.000000,0.000000,21,0,0,0,Unassigned,NaN,"Unassigned, Hawaii, US",NaN,NaN,Point
2862,Illinois,US,3/25/2020 23:33,0.000000,0.000000,2,0,0,0,Unassigned,NaN,"Unassigned, Illinois, US",NaN,NaN,Point
2863,Kentucky,US,3/25/2020 23:33,0.000000,0.000000,54,0,0,0,Unassigned,NaN,"Unassigned, Kentucky, US",NaN,NaN,Point
2864,Louisiana,US,3/25/2020 23:33,0.000000,0.000000,11,0,1,0,Unassigned,NaN,"Unassigned, Louisiana, US",NaN,NaN,Point
2865,Maine,US,3/25/2020 23:33,0.000000,0.000000,2,0,0,0,Unassigned,NaN,"Unassigned, Maine, US",NaN,NaN,Point
2866,Massachusetts,US,3/25/2020 23:33,0.000000,0.000000,159,0,9,0,Unassigned,NaN,"Unassigned, Massachusetts, US",NaN,NaN,Point
2867,Missouri,US,3/25/2020 23:33,0.000000,0.000000,0,0,0,0,Unassigned,NaN,"Unassigned, Missouri, US",NaN,NaN,Point
2868,Nevada,US,3/25/2020 23:33,0.000000,0.000000,15,0,0,0,Unassigned,NaN,"Unassigned, Nevada, US",NaN,NaN,Point
2869,New Jersey,US,3/25/2020 23:33,0.000000,0.000000,930,0,44,0,Unassigned,NaN,"Unassigned, New Jersey, US",NaN,NaN,Point
2870,New York,US,3/25/2020 23:33,0.000000,0.000000,0,0,31,0,Unassigned,NaN,"Unassigned, New York, US",NaN,NaN,Point
2871,North Carolina,US,3/25/2020 23:33,0.000000,0.000000,0,0,1,0,Unassigned,NaN,"Unassigned, North Carolina, US",NaN,NaN,Point
2872,Rhode Island,US,3/25/2020 23:33,0.000000,0.000000,31,0,0,0,Unassigned,NaN,"Unassigned, Rhode Island, US",NaN,NaN,Point
2873,Tennessee,US,3/25/2020 23:33,0.000000,0.000000,81,0,0,0,Unassigned,NaN,"Unassigned, Tennessee, US",NaN,NaN,Point
2874,Vermont,US,3/25/2020 23:33,0.000000,0.000000,2,0,3,0,Unassigned,NaN,"Unassigned, Vermont, US",NaN,NaN,Point
2875,Washington,US,3/25/2020 23:33,0.000000,0.000000,51,0,0,0,Unassigned,NaN,"Unassigned, Washington, US",NaN,NaN,Point
3225,Puerto Rico,US,3/25/2020 23:33,18.220800,-66.590100,51,0,2,0,NaN,NaN,"Puerto Rico, US",NaN,NaN,Point
3230,Recovered,US,3/25/2020 23:33,0.000000,0.000000,0,361,0,0,NaN,NaN,"Recovered, US",NaN,NaN,Point

In [ ]:
final_df.

In [125]:
not_us = final_df['Province/State'].isnull()

In [136]:
US_only = final_df['Country/Region'] == 'US'
final_df[US_only]

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Recovered,Deaths,Active,County,State/County FIPS Code,Combined Key,Incident Rate,People Tested,Shape
0,South Carolina,US,3/25/2020 23:33,34.223334,-82.461707,3,0,0,0,Abbeville,45001.0,"Abbeville, South Carolina, US",NaN,NaN,Point
1,Louisiana,US,3/25/2020 23:33,30.295065,-92.414197,2,0,0,0,Acadia,22001.0,"Acadia, Louisiana, US",NaN,NaN,Point
2,Virginia,US,3/25/2020 23:33,37.767072,-75.632346,2,0,0,0,Accomack,51001.0,"Accomack, Virginia, US",NaN,NaN,Point
3,Idaho,US,3/25/2020 23:33,43.452658,-116.241552,24,0,0,0,Ada,16001.0,"Ada, Idaho, US",NaN,NaN,Point
4,Iowa,US,3/25/2020 23:33,41.330756,-94.471059,1,0,0,0,Adair,19001.0,"Adair, Iowa, US",NaN,NaN,Point
5,Kentucky,US,3/25/2020 23:33,37.104598,-85.281297,0,0,0,0,Adair,21001.0,"Adair, Kentucky, US",NaN,NaN,Point
6,Missouri,US,3/25/2020 23:33,40.190586,-92.600782,1,0,0,0,Adair,29001.0,"Adair, Missouri, US",NaN,NaN,Point
7,Oklahoma,US,3/25/2020 23:33,35.884942,-94.658593,2,0,0,0,Adair,40001.0,"Adair, Oklahoma, US",NaN,NaN,Point
8,Colorado,US,3/25/2020 23:33,39.874321,-104.336258,27,0,0,0,Adams,8001.0,"Adams, Colorado, US",NaN,NaN,Point
9,Idaho,US,3/25/2020 23:33,44.893336,-116.454525,0,0,0,0,Adams,16003.0,"Adams, Idaho, US",NaN,NaN,Point
10,Illinois,US,3/25/2020 23:33,39.988156,-91.187868,1,0,0,0,Adams,17001.0,"Adams, Illinois, US",NaN,NaN,Point
11,Indiana,US,3/25/2020 23:33,40.745765,-84.936714,1,0,0,0,Adams,18001.0,"Adams, Indiana, US",NaN,NaN,Point
12,Iowa,US,3/25/2020 23:33,41.029036,-94.699326,0,0,0,0,Adams,19003.0,"Adams, Iowa, US",NaN,NaN,Point
13,Mississippi,US,3/25/2020 23:33,31.476698,-91.353260,2,0,0,0,Adams,28001.0,"Adams, Mississippi, US",NaN,NaN,Point
14,Nebraska,US,3/25/2020 23:33,40.524494,-98.501178,1,0,0,0,Adams,31001.0,"Adams, Nebraska, US",NaN,NaN,Point
15,North Dakota,US,3/25/2020 23:33,46.096869,-102.528540,0,0,0,0,Adams,38001.0,"Adams, North Dakota, US",NaN,NaN,Point
16,Ohio,US,3/25/2020 23:33,38.845411,-83.471896,0,0,0,0,Adams,39001.0,"Adams, Ohio, US",NaN,NaN,Point
17,Pennsylvania,US,3/25/2020 23:33,39.871404,-77.216103,6,0,0,0,Adams,42001.0,"Adams, Pennsylvania, US",NaN,NaN,Point
18,Washington,US,3/25/2020 23:33,46.982998,-118.560173,1,0,0,0,Adams,53001.0,"Adams, Washington, US",NaN,NaN,Point
19,Wisconsin,US,3/25/2020 23:33,43.969747,-89.767828,0,0,0,0,Adams,55001.0,"Adams, Wisconsin, US",NaN,NaN,Point
20,Vermont,US,3/25/2020 23:33,44.032173,-73.141309,9,0,0,0,Addison,50001.0,"Addison, Vermont, US",NaN,NaN,Point
21,South Carolina,US,3/25/2020 23:33,33.543380,-81.636454,2,0,0,0,Aiken,45003.0,"Aiken, South Carolina, US",NaN,NaN,Point
22,Minnesota,US,3/25/2020 23:33,46.609620,-93.411683,0,0,0,0,Aitkin,27001.0,"Aitkin, Minnesota, US",NaN,NaN,Point
23,Florida,US,3/25/2020 23:33,29.678665,-82.359282,45,0,0,0,Alachua,12001.0,"Alachua, Florida, US",NaN,NaN,Point
24,North Carolina,US,3/25/2020 23:33,36.043470,-79.399761,3,0,0,0,Alamance,37001.0,"Alamance, North Carolina, US",NaN,NaN,Point
25,California,US,3/25/2020 23:33,37.646294,-121.892927,135,0,2,0,Alameda,6001.0,"Alameda, California, US",NaN,NaN,Point
26,Colorado,US,3/25/2020 23:33,37.572506,-105.788545,0,0,0,0,Alamosa,8003.0,"Alamosa, Colorado, US",NaN,NaN,Point
27,New York,US,3/25/2020 23:33,42.600603,-73.977239,152,0,0,0,Albany,36001.0,"Albany, New York, US",NaN,NaN,Point
28,Wyoming,US,3/25/2020 23:33,41.654987,-105.723541,1,0,0,0,Albany,56001.0,"Albany, Wyoming, US",NaN,NaN,Point
29,Virginia,US,3/25/2020 23:33,38.020807,-78.554811,4,0,0,0,Albemarle,51003.0,"Albemarle, Virginia, US",NaN,NaN,Point
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3147,South Dakota,US,3/25/2020 23:33,43.009245,-97.394676,0,0,0,0,Yankton,46135.0,"Yankton, South Dakota, US",NaN,NaN,Point
3148,New York,US,3/25/2020 23:33,42.635055,-77.103699,0,0,0,0,Yates,36123.0,"Yates, New York, US",NaN,NaN,Point
3149,Arizona,US,3/25/2020 23:33,34.599339,-112.553859,4,0,0,0,Yavapai,4025.0,"Yavapai, Arizona, US",NaN,NaN,Point
3150,Mississippi,US,3/25/2020 23:33,32.778904,-90.396561,3,0,0,0,Yazoo,28163.0,"Yazoo, Mississippi, US",NaN,NaN,Point
3151,Arkansas,US,3/25/2020 23:33,35.002924,-93.411713,0,0,0,0,Yell,5149.0,"Yell, Arkansas, US",NaN,NaN,Point
3152,Minnesota,US,3/25/2020 23:33,44.717102,-95.868425,0,0,0,0,Yellow Medicine,27173.0,"Yellow Medicine, Minnesota, US",NaN,NaN,Point
3153,Montana,US,3/25/2020 23:33,45.939559,-108.269149,12,0,0,0,Yellowstone,30111.0,"Yellowstone, Montana, US",NaN,NaN,Point
3154,Texas,US,3/25/2020 23:33,33.173202,-102.827643,0,0,0,0,Yoakum,48501.0,"Yoakum, Texas, US",NaN,NaN,Point
3155,California,US,3/25/2020 23:33,38.682789,-121.901829,10,0,1,0,Yolo,6113.0,"Yolo, California, US",NaN,NaN,Point
3156,Maine,US,3/25/2020 23:33,43.478084,-70.710524,23,0,0,0,York,23031.0,"York, Maine, US",NaN,NaN,Point
3157,Nebraska,US,3/25/2020 23:33,40.872726,-97.597102,0,0,0,0,York,31185.0,"York, Nebraska, US",NaN,NaN,Point
3158,Pennsylvania,US,3/25/2020 23:33,39.921009,-76.730401,20,0,0,0,York,42133.0,"York, Pennsylvania, US",NaN,NaN,Point
3159,South Carolina,US,3/25/2020 23:33,34.972815,-81.180859,18,0,0,0,York,45091.0,"York, South Carolina, US",NaN,NaN,Point
3160,Virginia,US,3/25/2020 23:33,37.243748,-76.544128,8,0,1,0,York,51199.0,"York, Virginia, US",NaN,NaN,Point
3161,Texas,US,3/25/2020 23:33,33.176597,-98.687909,1,0,0,0,Young,48503.0,"Young, Texas, US",NaN,NaN,Point
3162,California,US,3/25/2020 23:33,39.262559,-121.353564,0,0,0,0,Yuba,6115.0,"Yuba, California, US",NaN,NaN,Point
3163,Alaska,US,3/25/2020 23:33,65.508155,-151.390739,0,0,0,0,Yukon-Koyukuk,2290.0,"Yukon-Koyukuk, Alaska, US",NaN,NaN,Point
3164,Arizona,US,3/25/2020 23:33,32.768957,-113.906667,3,0,0,0,Yuma,4027.0,"Yuma, Arizona, US",NaN,NaN,Point
3165,Colorado,US,3/25/2020 23:33,40.003468,-102.425867,1,0,0,0,Yuma,8125.0,"Yuma, Colorado, US",NaN,NaN,Point
3166,Texas,US,3/25/2020 23:33,27.001564,-99.169872,0,0,0,0,Zapata,48505.0,"Zapata, Texas, US",NaN,NaN,Point
3167,Texas,US,3/25/2020 23:33,28.866172,-99.760508,0,0,0,0,Zavala,48507.0,"Zavala, Texas, US",NaN,NaN,Point
3168,South Dakota,US,3/25/2020 23:33,44.978819,-101.665462,0,0,0,0,Ziebach,46137.0,"Ziebach, South Dakota, US",NaN,NaN,Point
3170,American Samoa,US,3/25/2020 23:33,-14.271000,-170.132000,0,0,0,0,NaN,60000.0,"American Samoa, US",NaN,NaN,Point
3182,Diamond Princess,US,3/25/2020 23:33,0.000000,0.000000,49,0,0,0,NaN,88888.0,"Diamond Princess, US",NaN,NaN,Point
3190,Grand Princess,US,3/25/2020 23:33,0.000000,0.000000,28,0,1,0,NaN,99999.0,"Grand Princess, US",NaN,NaN,Point
3193,Guam,US,3/25/2020 23:33,13.444300,144.793700,37,0,1,0,NaN,66000.0,"Guam, US",NaN,NaN,Point
3220,Northern Mariana Islands,US,3/25/2020 23:33,15.097900,145.673900,0,0,0,0,NaN,69000.0,"Northern Mariana Islands, US",NaN,NaN,Point
3225,Puerto Rico,US,3/25/2020 23:33,18.220800,-66.590100,51,0,2,0,NaN,NaN,"Puerto Rico, US",NaN,NaN,Point
3230,Recovered,US,3/25/2020 23:33,0.000000,0.000000,0,361,0,0,NaN,NaN,"Recovered, US",NaN,NaN,Point
3246,Virgin Islands,US,3/25/2020 23:33,18.335800,-64.896300,17,0,0,0,NaN,78000.0,"Virgin Islands, US",NaN,NaN,Point

In [131]:
final_df[~not_us]['Country/Region'].value_counts()

US                3177
China               33
Canada              13
France               9
Australia            8
United Kingdom       6
Netherlands          3
Denmark              2
Name: Country/Region, dtype: int64

In [117]:
final_df['State/County FIPS Code'].isn

0        45001
1        22001
2        51001
3        16001
4        19001
5        21001
6        29001
7        40001
8         8001
9        16003
10       17001
11       18001
12       19003
13       28001
14       31001
15       38001
16       39001
17       42001
18       53001
19       55001
20       50001
21       45003
22       27001
23       12001
24       37001
25        6001
26        8003
27       36001
28       56001
29       51003
         ...
3390    <Null>
3391    <Null>
3392    <Null>
3393    <Null>
3394    <Null>
3395    <Null>
3396    <Null>
3397    <Null>
3398    <Null>
3399    <Null>
3400    <Null>
3401    <Null>
3402    <Null>
3403    <Null>
3404    <Null>
3405    <Null>
3406    <Null>
3407    <Null>
3408    <Null>
3409    <Null>
3410    <Null>
3411    <Null>
3412    <Null>
3413    <Null>
3414    <Null>
3415    <Null>
3416    <Null>
3417    <Null>
3418    <Null>
3419    <Null>
Name: State/County FIPS Code, Length: 3420, dtype: object